.main {
  max-width: 100%;
  top: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Lato', Helvetica, sans-serif;
  color: #47a3da;
}

#content {
  border: solid 3px #47a3da;
  margin-left: 7em;
  margin-right: 7em;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.togglebar {
  border-bottom: solid 3px #47a3da;
  padding: .5em 0  1.25em 0;
  margin: 1.25em;
  text-align: right;
  letter-spacing: 6px;

}

.gridbutton:before {
  font-family: 'FontAwesome';
	content: "\f00a";
  font-size: 2em;
  color: #d0d0d0;
}

.listbutton:before {
  font-family: 'FontAwesome';
  content: "\f00b";
  font-size: 2em;
  color: #d0d0d0;
}

.gridbutton:hover:before {
  color: #47a3da;
}

.listbutton:hover:before {
  color:#47a3da;
}

a {
  text-decoration: none;
  color: #47a3da;
}

li {
  width: 30%;
  text-align: center;
  display: inline-block;
  list-style-type: none;
  margin: .5em;
}

img {
  width: 175px;
  height: auto;
  padding: 0;
  margin: 0;
  padding: 0;
}

.itemtitle {
  font-size: 32px;
  margin: 0 0 10px 0;
}

.itemprice {
  font-size: 24px;
  color: #bdbdbd;
  margin: 0 0 10px 0;
}

.itemaddtocart {
  background-color: #47a3da;
  color: #FFF;
  margin-top: 1.75em;
  padding: 10px 20px;
  border-radius: 2px;
  display: inline-block;
}

.itemaddtocart:before {
  font-family: 'FontAwesome';
  content: "\f055";
  padding-right: 5px;
}
